global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http-in
    bind *:80

    # DNS ACL
    acl is_prometheus hdr(host) -i prometheus.lab-hc.cloud
    acl is_grafana    hdr(host) -i grafana.lab-hc.cloud

    # url ACL
    use_backend prometheus_backend if is_prometheus
    use_backend grafana_backend    if is_grafana

backend prometheus_backend
    # use docker internal Port
    server prom-srv prometheus:9090 check

backend grafana_backend
    # use docker internal Port
    server graf-srv grafana:3000 check
